.App {
  text-align: center;
}

.logo {
  height: 50vh;
  align-self: center;
}

.App-logo {
  /* border-radius: 20px; */
  height: 40vmin;
  /* animation: App-logo-spin infinite 20s linear; */
}

.Main{
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: green;
  padding: 100;
}

.CarouselItem{
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  background-color: blue;
}

.Test2{
  /* flex: 1; */
  height: 400px;
  /* min-height: 100vh; */
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
